[submodule "emulators/dolphin"]
	path = emulators/dolphin
	url = https://github.com/dolphin-emu/dolphin
[submodule "AiroRom"]
	path = AiroRom
	url = git@github.com:pleonex/AiroRom.git
[submodule "nds/NitroDebugger"]
	path = nds/NitroDebugger
	url = git@github.com:pleonex/NitroDebugger
[submodule "nds/Ninokuni"]
	path = nds/Ninokuni
	url = git@github.com:pleonex/Ninokuni.git
[submodule "nds/Tinke"]
	path = nds/Tinke
	url = git@github.com:pleonex/Tinke
[submodule "dc/GDIbuilder"]
	path = dc/GDIbuilder
	url = https://github.com/Sappharad/GDIbuilder
[submodule "emulators/ppsspp"]
	path = emulators/ppsspp
	url = https://github.com/hrydgard/ppsspp
[submodule "emulators/jpcsp"]
	path = emulators/jpcsp
	url = https://github.com/jpcsp/jpcsp
[submodule "emulators/NitroDebugger"]
	path = emulators/NitroDebugger
	url = git@github.com:pleonex/NitroDebugger.git
[submodule "emulators/radare2"]
	path = emulators/radare2
	url = git@github.com:pleonex/radare2
