[submodule "emulators/dolphin"]
	path = emulators/dolphin
	url = https://github.com/dolphin-emu/dolphin
[submodule "AiroRom"]
	path = AiroRom
	url = git@github.com:pleonex/AiroRom.git
[submodule "nds/NitroDebugger"]
	path = nds/NitroDebugger
	url = git@github.com:pleonex/NitroDebugger
[submodule "nds/Ninokuni"]
	path = nds/Ninokuni
	url = git@github.com:pleonex/Ninokuni.git
